
@{
    ViewBag.Title = "AboutUs";
}

<div class="container">
    <div class="text-primary">
        <h2>About Us</h2>

    </div>
    <div class="text-left">

        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras dapibus sem tortor, sed rhoncus ipsum finibus eu. Mauris non pretium felis. Quisque ultricies mi sed lorem ultricies vestibulum congue a dolor. Quisque mollis porttitor eros, a imperdiet purus auctor eget. Phasellus quis tellus sit amet quam dictum maximus. Pellentesque in faucibus elit. Phasellus consectetur mauris id lectus fringilla vestibulum. Donec ac tincidunt arcu. Etiam ut aliquam urna. Proin nisi turpis, dignissim interdum sodales ac, vestibulum vitae tortor.

            Sed eu auctor mi, sed euismod odio. Pellentesque vulputate aliquam ipsum id efficitur. Duis eleifend convallis erat nec porta. Nam quis magna ligula. Curabitur vel risus non arcu tristique euismod. In hac habitasse platea dictumst. Nam ornare mi nec nunc maximus sagittis. Duis odio enim, pharetra et felis eget, hendrerit posuere leo. Praesent sed pretium neque, a malesuada erat.
        </p>
    </div>

    <div class="text-primary">
        <h2>Our Mission</h2>

    </div>
    <div class="text-left">

        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras dapibus sem tortor, sed rhoncus ipsum finibus eu. Mauris non pretium felis. Quisque ultricies mi sed lorem ultricies vestibulum congue a dolor. Quisque mollis porttitor eros, a imperdiet purus auctor eget. Phasellus quis tellus sit amet quam dictum maximus. Pellentesque in faucibus elit. Phasellus consectetur mauris id lectus fringilla vestibulum. Donec ac tincidunt arcu. Etiam ut aliquam urna. Proin nisi turpis, dignissim interdum sodales ac, vestibulum vitae tortor.

            Sed eu auctor mi, sed euismod odio. Pellentesque vulputate aliquam ipsum id efficitur. Duis eleifend convallis erat nec porta. Nam quis magna ligula. Curabitur vel risus non arcu tristique euismod. In hac habitasse platea dictumst. Nam ornare mi nec nunc maximus sagittis. Duis odio enim, pharetra et felis eget, hendrerit posuere leo. Praesent sed pretium neque, a malesuada erat.
        </p>
    </div>

    <div class="text-primary">
        <h2>Our Team</h2>

    </div>
    <div class="text-left">

        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras dapibus sem tortor, sed rhoncus ipsum finibus eu. Mauris non pretium felis. Quisque ultricies mi sed lorem ultricies vestibulum congue a dolor. Quisque mollis porttitor eros, a imperdiet purus auctor eget. Phasellus quis tellus sit amet quam dictum maximus. Pellentesque in faucibus elit. Phasellus consectetur mauris id lectus fringilla vestibulum. Donec ac tincidunt arcu. Etiam ut aliquam urna. Proin nisi turpis, dignissim interdum sodales ac, vestibulum vitae tortor.
          </p>
    </div>
</div>