@using ShoppingApplication.BOL
@model User

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutSeller.cshtml";
}
<h2 class="text-center">This is Seller's dashboard/Index page</h2>

        @*<div class="panel panel-default">
            <h2 class="text-center">Seller's Detail</h2>
            <div class="panel-body panel-default">
                <div class="container-fluid ">
                    <div class="col-lg-8">
                        <div class="col-lg-4"><h4 class=detail-style>User Name: </h4></div>
                        <div class="col-lg-8"><h4 class=detail-style>@Model.UserName </h4></div>
                        <div class="col-lg-4"><h4 class=detail-style>Email: </h4></div>
                        <div class="col-lg-8"><h4 class=detail-style> @Model.Email</h4></div>
                        <div class="col-lg-4"><h4 class=detail-style>Phone Number: </h4></div>
                        <div class="col-lg-8"><h4 class=detail-style>@Model.PhoneNumber </h4></div>
                        <div class="col-lg-4"><h4 class=detail-style>Role: </h4></div>
                        <div class="col-lg-8"><h4 class=detail-style>@Model.Role.Name </h4></div>


                    </div>
                </div>
            </div>
        </div>*@
        